body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0px;
    min-height: 100vh;
    width: 80vw;
    background: linear-gradient(
        -233deg, #0000008f 50%, rgba(0, 0, 0, 0) 52%) no-repeat;
}

main .produto {
    display: none;
    height: 100vh;
}

main .produto.selecionado {
    display: block;
}

main .produto .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    min-height: 100vh;
    max-width: 600px;
    z-index: 1;
}

.conteudo .nome-produto {
    color: #FFFFFF;
    font-size: 48px;
    font-family: 'Martian Mono', monospace;
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao {
    color: white;
    font-family: 'Mooli', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.conteudo .logo {
    background-image: url("../images/8bitdo-logo.png");
    background-size: cover;
    height: 100px;
    width: 300px;
    margin-bottom: 35px;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    gap: px;
    background-color: rgba(0, 0, 0, 0.288);
}

.botoes li {
    margin-bottom: 0%;
}

.botoes .botao{
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.botoes .botao img {
    max-width: 150%;
    max-height: 150px;
}

.botoes .botao {
    transform: scale(0.5);
    margin: 0;
}

.botoes .botao.selecionado {
    transform: scale(0.8);
    box-shadow: 0 0 10px #d9d9d9;
    border-radius: 10%;
}